* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    color: white;
    font-size: 20px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn {
    font-size: 16px;
    padding: 5px;
}

input {
    padding: 5px;
    font-size: 16px;
}

.remove-btn {
    margin-left: 5px;
}